body {
    background-color: #ddd;
    padding: 0;
    font-family: "Open Sans", arial, sans-serif;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 44px;
    background-color: #fff;
}

.mainheader {
  background-image: url("../img/fish.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mainheader h1 {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
}

.mainheader a {
  text-decoration: none;
  color: #fff;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 10px 25px;
}

#menu-toggler {
  display: none;
}

.margin {
  margin: 0 5% 0 5%;
}

.main_info_header {
  text-align: center;
}

.main_info_header h3 {
  color: #1fbed6;
  font-size: 20px;
  font-weight: 600;
}
.main_info_header p {
  font-size: 15px;
  font-weight: 300;
}
.block_picto {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
}

.block_picto article {
  margin: 0 5% 0 5%;
  background-color: #1fbed6;
  color: #fff;
  width: 20%;
  text-align: center;
}
.block_picto i {
  font-size: 40px;
  margin: 10px 0 0 0;
  background-color: #fff;
  color: #1fbed6;
  padding: 10px 10px;
  border-radius: 100%;
}

.block_picto h4 {
  margin: 10px;
  font-size: 18px;
  font-weight: 600;
}
.block_picto p {
  margin: 10px;
  font-size: 14px;
  font-weight: 300;
}



/* Menu Burger */
@media screen and (max-width : 640px) {
  .menu-toggler__label {
      display: block;
      position: absolute;
      top: 0;
      right: 10px;
      bottom: 0;
      width: 44px;
      height: 100%;
  }

  .menu-toggler__label:hover,
  .menu-toggler__label:focus,
  .menu-toggler__label:active {
      cursor: pointer;
  }

  .menu-toggler__label__visual span {
      display: block;
      position: absolute;
      width: 100%;
      height: 6px;
      background-color: #1fbed6;
      opacity: 1;
      transition: transform .7s;
  }

  .menu-toggler__label__visual span:nth-child(1){
      top: 5px;
  }

  .menu-toggler__label__visual span:nth-child(2) {
      top: 50%;
      margin-top: -3px
  }

  .menu-toggler__label__visual span:nth-child(3) {
      bottom: 5px;
  }

  .menu-toggler__label__visual span:nth-child(3) {
      bottom: 5px;
  }
  .main-menu li {
    transition: transform .7s;
  }
  ul {
    display: none;
  }
  ul li {
    padding:10px 0 10px 0;
    background-color: #1fbed6;
    color: #fff;
    margin-top: 2px;
    list-style-type: none;
    width: 100%;
  }

  a {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }

  ul li:hover {
    background-color: #40A497;
  }

  #menu-toggler:checked ~ ul {

    display:block;
    padding-top: 28px;
    padding-left: 0;
  }
  #menu-toggler:checked ~ .menu-toggler__label .menu-toggler__label__visual span {
    transform:
      rotate(45deg)
      translate(-2px, -1px);
  }

  #menu-toggler:checked ~ .menu-toggler__label .menu-toggler__label__visual span:nth-child(1){
    top: 20px;
  }

  #menu-toggler:checked ~ .menu-toggler__label .menu-toggler__label__visual span:nth-child(3){
    display: none;
  }

  #menu-toggler:checked ~ .menu-toggler__label .menu-toggler__label__visual span:nth-child(2){
    transform: rotate(-45deg) translate(0, -1px);
  }
}

/* Grand Menu */
@media screen and (min-width : 640px) {

  nav.nav_menu {
      display: flex;
      color: #4d4d4c;
      font-size: 15px;
      max-width: 980px;
      margin: auto;
      list-style-type: none;
  }
  nav.nav_menu li {
      text-transform: uppercase;
  }
  nav.nav_menu > ul {
      padding: 0;
      margin: 0;
      align-self: flex-end;
  }
  nav.nav_menu > ul > li {
      display: inline-block;
      position: relative;
  }
  nav.nav_menu > ul > li:hover {
      cursor: pointer;
  }
  nav.nav_menu > ul > li:hover ul {
      display: block;
  }
  nav.nav_menu > ul > li:not(:last-child):after {
      content: ' |';
  }

  nav.nav_menu ul ul {
      display: none;
      padding: 0;
      padding-top: 7px;
      position: absolute;
      color: #fff;
  }
  nav.nav_menu ul ul li {
      display: flex;
      justify-content: center;
      /* padding: 3px 10px; */
      background-color: #fff;
      margin: 2px;
  }
  .header-main {
      background-color: #fff;
      padding: 8px 0;
  }
  .header-main img {
      align-self: center;
  }
  .header-main .text {
      width: 180px;
      padding: 0 5px;
  }
  .header-main .header_title {
      color: #1fbed6;
      text-transform: uppercase;
  }
  .header-main .header_sub_title {
      color: #787878;
  }
}
