html {
  background-color: #eee;
}

body {
    background-color: #fff;
    padding: 0;
    font-family: "Open Sans", arial, sans-serif;
    max-width: 1200px;
    margin:auto;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    background-color: #fff;
    z-index: 1;
    padding: 10px 0;
}

header .text {
  font-size: 12px;
  font-weight: normal;
  width: 180px;
  padding: 0 5px;
}
header .header_title {
    color: #1fbed6;
    text-transform: uppercase;
}
header .header_sub_title {
    color: #787878;
}

.main-menu {
  font-size: 12px;
  font-weight: normal;
}

.main-menu a {
  text-decoration: none;
  color: #4d4d4c;
}
.main-menu ul li a {
  text-decoration: none;
  color: #fff;
}

.mainheader {
  background-image: url("../img/fish.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mainheader h1 {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
}

.mainheader a {
  text-decoration: none;
  color: #fff;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 10px 25px;
}

#menu-toggler {
  display: none;
}

.margin {
  margin: 0 5% 0 5%;
}

.main_info_header {
  text-align: center;
  margin: 0 10% 0 10%;
}

.main_info_header h3 {
  color: #1fbed6;
  font-size: 20px;
  font-weight: 600;
}
.main_info_header p {
  font-size: 15px;
  font-weight: 300;
}

.block_picto {
  margin:0;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
}

.block_picto article {
  background-color: #1fbed6;
  color: #fff;
  width: 300px;
  height: auto;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 30px;
}
.block_picto i {
  font-size: 50px;
  margin: 10px 0 0 0;
  background-color: #fff;
  color: #1fbed6;
  padding: 15px;
  border-radius: 50%;
}

.block_picto .farond {
  padding: 15px 19px 15px 19px;
}

.block_picto h4 {
  margin: 15px 0 10px 0;
  font-size: 18px;
  font-weight: 600;
}
.block_picto p {
  margin: 0 3px 0 3px;
  font-size: 14px;
  font-weight: 300;
}
.rotation {
  transform: rotate(-45deg);
  z-index: -1;
}

.colorback {
  background-color: #ddd;
}

h4 {
  margin-left: 8%;
  font-size: 14px;
  font-weight: 600;
}

.actu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
  flex-wrap: wrap;
}
.actu article {
  width: 200px;
  height: auto;
  padding-bottom: 30px;
}

.actu h5 {
  margin:0;
  font-size: 12px;
  font-weight: 600;
}

.actu time {
  margin:0;
  font-size: 10px;
  font-weight: normal;
  color: #999;
}

.actu p {
  margin:0;
  font-size: 12px;
  font-weight: 600;
  float: right;
  color: #999;
}

.moreactu {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.moreactu a {
  text-decoration: none;
  color: #000;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  border: 1px solid #999;
  padding: 10px 25px;
}

footer {
  background-color: #1fbed6;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  padding: 20px 0 20px 0;
}

.footerflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 1;
  height:auto;
}

.footerflex article {
  max-width: 200px;
  height: auto;
  margin: 0;
}

.footerflex a {
  color: #fff;
}

.semibold {
  font-weight: 600;
}

.icons {
  font-size: 16px;
  margin: 10px 5px 0 0;
}

.doublebr {
  font-size: 20px;
}

.listfooter {
  text-decoration: none;
  list-style: none;
  margin: 5px 0;
  padding: 0;
}

.marginbeflist {
  margin-bottom: 0;
}

.ml {
  text-align: center;
  margin: 0;
}

.submenu ul li a:hover, footer a:hover {
  color: #575757;
}

.main-menu li a:hover {
  color: #1fbed6;
}

.mainheader a:hover {
  color: #000;
  border: 1px solid #000;
}

.moreactu a:hover {
  color: #1fbed6;
  border: 1px solid #1fbed6;
}

/* Menu Burger */
@media screen and (max-width : 640px) {
  .text {
    float: left;
    width: auto !important;
  }
  header {
    border-bottom: 2px solid #1fbed6;
  }
  .menu-toggler__label {
      display: block;
      position: absolute;
      top: 0;
      right: 10px;
      bottom: 0;
      width: 44px;
      height: 100%;
  }

  .menu-toggler__label:hover,
  .menu-toggler__label:focus,
  .menu-toggler__label:active {
      cursor: pointer;
  }

  .menu-toggler__label__visual span {
      display: block;
      position: absolute;
      width: 100%;
      height: 6px;
      background-color: #1fbed6;
      opacity: 1;
      transition: transform .7s;
  }

  .menu-toggler__label__visual span:nth-child(1){
      top: 15px;
  }

  .menu-toggler__label__visual span:nth-child(2) {
      top: 50%;
      margin-top: -3px
  }

  .menu-toggler__label__visual span:nth-child(3) {
      bottom: 15px;
  }

  .main-menu li {
    transition: transform .7s;
  }
  .main-menu{
    display: none;
  }

  .main-menu li {
    padding:10px 0 10px 0;
    background-color: #fff;
    color: #000;
    border: 1px solid #1fbed6;
    list-style-type: none;
    width: 100%;
  }

  .main-menu a {
    margin-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
  }

  #menu-toggler:checked ~ ul {
    display:block;
    padding-top: 5px;
    padding-left: 0;
    width: 98%;
    margin-left: 1%;
  }
  #menu-toggler:checked ~ .menu-toggler__label .menu-toggler__label__visual span {
    transform:
      rotate(45deg);
  }

  #menu-toggler:checked ~ .menu-toggler__label .menu-toggler__label__visual span:nth-child(1){
    top: 32px;
  }

  #menu-toggler:checked ~ .menu-toggler__label .menu-toggler__label__visual span:nth-child(3){
    display: none;
  }

  #menu-toggler:checked ~ .menu-toggler__label .menu-toggler__label__visual span:nth-child(2){
    transform: rotate(-45deg) translate(0, -1px);
  }

  .submenu {
    padding-bottom: 0px;
  }
  .submenu ul {
    padding: 15px 0 5px 5px;
    width: 98%;
  }

  .submenu ul li {
    background-color: #1fbed6;
    color: #fff;
    margin-bottom: 2px;
  }

}


/* Grand Menu */
@media screen and (min-width : 640px) {

  nav.nav_menu {
      display: flex;
      color: #4d4d4c;
      font-size: 15px;
      max-width: 980px;
      margin: auto;
      list-style-type: none;
  }
  nav.nav_menu li {
      text-transform: uppercase;
  }
  nav.nav_menu > ul {
      padding: 0;
      margin: 0;
      align-self: flex-end;
  }
  nav.nav_menu > ul > li {
      display: inline-block;
      position: relative;
  }
  nav.nav_menu > ul > li:hover {
      cursor: pointer;
  }
  nav.nav_menu > ul > li:hover ul {
      display: block;
  }
  nav.nav_menu > ul > li:not(:last-child):after {
      content: ' |';
  }

  nav.nav_menu ul ul {
      display: none;
      padding: 12px 0 0 0;
      position: absolute;
      color: #fff;
      font-size: 11px;
      font-weight: normal;
  }
  nav.nav_menu ul ul li {
      display: flex;
      justify-content: left;
      /* padding: 3px 10px; */
      background-color: #1fbed6;
      color: #fff;
      padding: 5px;
      margin: 3px;
  }
}
